##MODULO 4##

En este módulo voy a aprender cómo se hace la lectura y carga de un archivo. Más abajo veré el uso de PANDAS para hacer lo mismo.

In [5]:
import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)


## Download Example file
!wget -O /resources/data/Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-

/resources/data/Example1.txt: No such file or directory

In [14]:
#Con este comando voy a ver el contenido de mi carpeta
!ls

Example1.txt

In [18]:
#Aquí voy a acceder a la carpeta Datos_muestra que yo mismo he creado y luego veré el contenido
%cd /content/Datos_muestra/
!ls

/content/Datos_muestra
Example1.txt

Para leer un archivo lo que debo hacer es lo siguiente;

<code> file = open("/content/Datos_muestra/Example1.txt", "r") <code>

Notar que:
* la parte de /content/Datos_muestra/ es la ruta del archivo.
* Example1.txt es el nombre del archivo
* Los dos puntos anteriores van metidos en la función open entre comillas (es un string).
* La última parte es para indicar cómo quiero abrir el archivo: r de read y w de write.

In [58]:

file1 = open("/content/Datos_muestra/Example1.txt", "r")

file1.name

'/content/Datos_muestra/Example1.txt'

In [59]:
file1.mode

'r'

En las siguientes líneas voy a mostrar algunos ejemplos sobre leer y escribir archivos.

In [60]:
#La siguiente línea de código muestra cómo visualizar el contenido de un archivo

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [61]:
print(FileContent)

This is line 1
This is line 2
This is line 3

In [56]:
#En esta línea voy a ver el contenido del archivo
FileContent = file1.readlines()
for fila in FileContent:
  print(fila)

This is line 1

This is line 2

This is line 3

In [62]:
#En la siguiente línea voy a cerrar el archivo
file1.close()

In [65]:
#Las siguientes líneas hacen lo mismo: abren el archivo y lo muestran


with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

Example1.txt
This is line 1
This is line 2
This is line 3

In [66]:
with open(example1, "r") as file1:
    print(file1.read(4))

This

In [67]:
with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [68]:
with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [69]:
# Read one line

with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [70]:
with open(example1, "r") as file1:
    print(file1.readline(20)) # does not read past the end of line
    print(file1.read(20)) # Returns the next 20 chars

This is line 1

This is line 2
This

In [71]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [72]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [74]:
FileasList[0]

'This is line 1 \n'

En el siguiente bloque vamos a utilizar la función Open para escribir información en los archivos

In [80]:
# Write line to file
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("Línea de prueba")

In [81]:
# Read file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

Línea de prueba

In [83]:
# Write lines to file

with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")


with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [85]:
# Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [86]:
# Write a new line to text file

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [87]:
# Verify if the new line is in the text file

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line C
This is line D
This is line E

##EJERCICIO

In [4]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

Este es el ejercicio sobre escritura de archivos. Voy a copiar directamente la solución propuesta y comentar cada línea para entender lo que hace porque no me ha quedado claro el módulo.

In [2]:
def cleanFiles(currentMem,exMem):
    with open(currentMem,'r+') as writeFile: #esta línea está abriendo el archivo de current members en modo lectura
        with open(exMem,'a+') as appendFile: #esta línea está abriendo el archivo de exMem ya con la instrucción para añadir líneas, append
            #get the data
            writeFile.seek(0)  #seek es una función que coloca el offset del archivo en una posición dada. 0 significa que va a comenzar en el principio
            members = writeFile.readlines() #aquí estoy leyendo cada línea de whitefile
            #remove header
            header = members[0] #le estoy asignando a la variable header el título que tiene members en la primera posición
            members.pop(0) #pop es para eliminar un elemento. En este caso la posición 0 de members.
                
            inactive = [member for member in members if ('no' in member)]
            '''
            The above is the same as 

            for member in members:
            if 'no' in member:
                inactive.append(member)
            '''
            #go to the beginning of the write file
            writeFile.seek(0) 
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()
                
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)

# code to help you see the files

headers = "Membership No  Date Joined  Active  \n"

with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    94456      2017-5-11    yes
    61707      2020-6-7     yes
    37552      2017-1-17    yes
    75825      2020-6-14    yes
    75647      2020-1-25    yes
    42801      2015-2-25    yes
    79708      2016-9-19    yes
    99855      2016-6-16    yes
    59375      2017-4-11    yes

Inactive Members:


Membership No  Date Joined  Active
    20418      2017-6-19    no
    13824      2015-6-19    no
    40059      2016-3-5     no
    77253      2019-12-5    no
    44320      2017-6-13    no
    97788      2017-6-16    no
    83776      2018-7-20    no
    47784      2017-4-22    no
    20142      2016-12-8    no
    45775      2015-4-23    no
    85838      2019-6-11    no
    11013      2018-12-1    no
    45560      2018-8-16    no
    48018      2019-10-6    no

In [3]:
#las líneas siguientes son provistas por el taller y son solamente 

def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Test Passed

##*Lab - Loading Data and Viewing Data*##

In [6]:
import pandas as pd

In [11]:
#Aquí estoy colocando la ruta del archivo. Notar que es un CSV.


filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"

df = pd.read_csv(filename)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [14]:
#Tambiém es posible utilizar Pandas para leer un Excel

filename_excel = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx"

df2 = pd.read_excel(filename_excel)

df2

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0
5,Eagles,Their Greatest Hits (1971-1975),1976,00:43:08,"rock, soft rock, folk rock",32.2,42,1976-02-17,NaN,7.5
6,Bee Gees,Saturday Night Fever,1977,01:15:54,disco,20.6,40,1977-11-15,Y,7.0
7,Fleetwood Mac,Rumours,1977,00:40:01,soft rock,27.9,40,1977-02-04,NaN,6.5

In [28]:
#Puedo acceder a cualquier columna. Voy a acceder a la columna Album

#Nota: cuando en pandas llamo a una columna con dos corchetes entonces es un dataframe; con apenas un corchete es una serie

#En la siguiente línea estoy creando un dataframe
x = df[["Album"]]
x

                             Album
0                         Thriller
1                    Back in Black
2        The Dark Side of the Moon
3                    The Bodyguard
4                  Bat Out of Hell
5  Their Greatest Hits (1971-1975)
6             Saturday Night Fever
7                          Rumours

In [29]:
#Ahora voy a crear una serie

y = df["Album"]
y

0                           Thriller
1                      Back in Black
2          The Dark Side of the Moon
3                      The Bodyguard
4                    Bat Out of Hell
5    Their Greatest Hits (1971-1975)
6               Saturday Night Fever
7                            Rumours
Name: Album, dtype: object

In [30]:
#Puedo acceder además a varias columnas al mismo tiempo

z = df[['Artist','Length','Album']]
z

            Artist   Length                            Album
0  Michael Jackson  0:42:19                         Thriller
1            AC/DC  0:42:11                    Back in Black
2       Pink Floyd  0:42:49        The Dark Side of the Moon
3  Whitney Houston  0:57:44                    The Bodyguard
4        Meat Loaf  0:46:33                  Bat Out of Hell
5           Eagles  0:43:08  Their Greatest Hits (1971-1975)
6         Bee Gees  1:15:54             Saturday Night Fever
7    Fleetwood Mac  0:40:01                          Rumours

In [33]:
#Puedo acceder a cualquier posición de la lista con el método iloc.
#primero es la fila y luego la columna. Tanto las filas como las columnas comienzan por cero.
#un tema más sobre iloc: usa apenas índices para referirse a posiciones en los arreglos

df.iloc[3,1]

'The Bodyguard'

In [34]:
#loc funciona igual pero para columnas usamos los títulos de las columnas

df.loc[3, "Album"]

'The Bodyguard'

In [36]:
#Finalmente puedo hacer slice con cualquiera de las dos metodologías

df.loc[2:4, "Released":"Genre"]

   Released   Length                        Genre
2      1973  0:42:49             progressive rock
3      1992  0:57:44               R&B, soul, pop
4      1977  0:46:33  hard rock, progressive rock

In [46]:
#El el siguiente ejemplo voy a cambiar los índices del data frame:

nuevos_indices = ['a','b','c','d','e','f','g','h']

nuevo_df = df

#aquí asigno los nuevos indices
nuevo_df.index = nuevos_indices

nuevo_df

nuevo_df.loc['d', 'Genre']

'R&B, soul, pop'