##Trabajo con estructuras de datos (tuplas)
* Las tuplas se ingresan con unos paréntesis
* Son inmutables

In [ ]:
tuple1 = ("disco", 1, 1.2)
print(tuple1)
type(tuple1)

('disco', 1, 1.2)

tuple

In [ ]:
tuple1[0]

'disco'

In [ ]:
tuple2 = tuple1 + ("Hard Rock", 3.14)
tuple2

('disco', 1, 1.2, 'Hard Rock', 3.14)

In [ ]:
tuple2[3:5]
len(tuple2)

5

In [ ]:
#Nuevo ejemplo para mostrar que una tupla no es modificable sino que para cambiar el valor de alguna posicion en la tupla es necesario definir una nueva tupla

notas = (3, 2, 8, 9, 3, 2, 1)
notas
notas =sorted(notas)
notas

[1, 2, 2, 3, 3, 8, 9]

In [ ]:
notas

[1, 2, 2, 3, 3, 8, 9]

Las tuplas pueden contener también otras tuplas como se verá a continuación

In [ ]:
tuple3 = ("gato", 5, ("pulgas", 3))
tuple3

('gato', 5, ('pulgas', 3))

In [ ]:
#puedo acceder a la tupla dentro de la tupla con la misma indexación usada siempre
print(tuple3[2])

#Puedo acceder también a elementos dentro de la tupla que está dentro de la tupla. Por ejemplo si quiero acceder a pulgas haría:
print(tuple3[2][0])

#También puedo acceder a la la S de pulgas añadiendo otro corchete al final que indique la posición de la S
tuple3[2][0][5]

('pulgas', 3)
pulgas

's'

##Listas
* Se ingresan con corchetes [   ]
* Son mutables

In [ ]:
L = ["Andres Lopez", 37, 1.68]
L

['Andres Lopez', 37, 1.68]

In [ ]:
L = ["Andres Lopez", 37, 1.68]

#Puedo añadir elementos a la lista
#Con el método extend estoy poniendo todos los elementos indicados al final de la lista
L.extend(["Salsa", 250])
L
#Con append estoy anadiendo una lista copleta al final de la lista en una única posición
L.append(["Bachata", "carros de basura"])
L

['Andres Lopez', 37, 1.68, 'Salsa', 250, ['Bachata', 'carros de basura']]

In [ ]:
L[5]

['Bachata', 'carros de basura']

In [ ]:
L = ['Andres Lopez', 37, 1.68, 'Salsa', 250, ['Bachata', 'carros de basura']]
#Puedo borrar elementos de la lista. Aquì quiero borrar Bachata. Tuve que hacer doble indexado para indicar que se encuentra en la posción 5, y como
#es una lista entonces me toca indicar la posición también dentro de esa segunda lista.
del(L[5][0])
L

['Andres Lopez', 37, 1.68, 'Salsa', 250, ['carros de basura']]

In [ ]:

#Haciendo Aliasing and cloning. Aliasing es hacer que dos variables se refieran exactamente a la misma lista. Ejemplo:
x= ["pastel", 10]
x

#Aliasing
y = x
y

#voy a cambiar ahora pastel por taco en x y ver el efecto en y
x[0] = "taco"
print(x)

print(y)

#Como se puede ver en este ejemplo, cambiar algún elemento en la lista x también lo cambia en y pues las dos se refieren a la MISMA LISTA

['taco', 10]
['taco', 10]

In [ ]:
#Ahora voy a hacer cloning: crear una lista distinta con base en otra
x= ["pastel", 10]
print(x)

#Aliasing
y = x[:]
print(y)

#voy a cambiar ahora pastel por taco en x y ver el efecto en y
x[0] = "taco"
print(x)

print(y)

#Aquí sòlo cambié la primera posición de x y dejé a y intacta

['pastel', 10]
['pastel', 10]
['taco', 10]
['pastel', 10]

##Diccionarios - dictionaries

* Igualmente son un conjunto de datos organizados
* En vez de tener índices como en las tuplas se utilizan "keys"
* Las Keys se indican cuando se crean los diccionarios. Son los primeros elementos ingresados.
* Cada. key es única.
* Van entre corchetes (curly braces) { }

In [2]:
#Ejemplo de la creación de un diccionario

D = {"Título": "Ingeniero mecánico", "Edad": 36, "Tallas": (1.68, "M", 30)}
D

{'Título': 'Ingeniero mecánico', 'Edad': 36, 'Tallas': (1.68, 'M', 30)}

In [3]:
D["Título"]

'Ingeniero mecánico'

In [5]:
#Añadir una nueva entrada al diccionario
D['Trabajo actual']="Director de caldiad"
D

{'Título': 'Ingeniero mecánico',
 'Edad': 36,
 'Tallas': (1.68, 'M', 30),
 'Trabajo actual': 'Director de caldiad'}

In [9]:
#Borrando una posición del diccionario
#del(D['Edad'])
#D

D["Edad"]=36
D

{'Título': 'Ingeniero mecánico',
 'Tallas': (1.68, 'M', 30),
 'Trabajo actual': 'Director de caldiad',
 'Edad': 36}

In [11]:
#Entender si un elemento está en el diccionario. Busca por las llaves
'Trabajo actual' in D

True

In [13]:
#Obteniendo todas las llaves
D.keys()
D.values()

dict_values(['Ingeniero mecánico', (1.68, 'M', 30), 'Director de caldiad', 36])

In [14]:
#Otros ejemplos de diccionario creados del taller que aparece en la página de IBM


Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

##SETS o conjuntos
* También se crean con corchetes
* No son conmo los diccionarios en la medida que uno no especifica la llave de cada posición.

In [15]:
set1 = {"amarillo","azul","rojo"}
set1

{'amarillo', 'azul', 'rojo'}

In [16]:
#Cuando se crea un conjunto, Python identifica los elementos únicos y elimina los repetidos
set2= {"amarillo","azul","rojo","amarillo","azul","rojo","amarillo","azul","rojo"}
set2

{'amarillo', 'azul', 'rojo'}

In [24]:
#Es posible convertir un conjunto en una lista (set into a list). No sé para qué francamente.

#lo que sigue es una lista
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]

print(album_list)

album_list_conjunto = set(album_list)
#print(album_list_conjunto)

type(album_list_conjunto )

['Michael Jackson', 'Thriller', 1982, '00:42:19', 'Pop, Rock, R&B', 46.0, 65, '30-Nov-82', None, 10.0]

set

In [30]:
#operaciones entre conjuntos

A = set(["Thriller", "Back in Black", "AC/DC"])
type (A)

#Adicionando cosas
A.add("cañonazos bailables")
A

{'AC/DC', 'Back in Black', 'Thriller', 'cañonazos bailables'}

In [31]:
#quitando cosas
A.remove("Thriller")
A

{'AC/DC', 'Back in Black', 'cañonazos bailables'}

In [35]:
#Quiz of sets


conjunto = ['rap','house','electronic music', 'rap']
type(conjunto)

#convertir esa lista a un conjunto
conjunto2 = set(conjunto)
type(conjunto2)

set

In [38]:
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])

sum(A) == sum(B)

False

In [42]:
#Create a new set album_set3 that is the union of album_set1 and album_set2:

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [46]:
#Find out if album_set1 is a subset of album_set3:

set(album_set1).issubset(album_set2)

False

##QUIZ