##CUADERNO PARA ESTUDIO PYTHON IBM
This notebook is inteded to display the development of activities included in IBM Python online course.

In [4]:
#Modulo 1.

#Línea para imprimir 101
print ("Hello Python 102")
print("Hello\nWorld")

Hello Python 102
Hello
World

In [9]:
#Tipos de variables. Aquí aprendí que para usar type debo iniciar con t minúscula
type("Hello world")
type("1.1") #Sè que va a ser un string porque está entre comillas
type(1.1) #Sè que va a ser un float porque está entre comillas

float

In [10]:
#Cast a float to boolean
bool(1) #va a salir un True

True

In [15]:
#Checking Python version

#import(sys)
#print(sys.version)

In [17]:
# Print string as error message. Aquí vamos a ver cómo funcionan los errores. 

#frint("Hello, Python!")

In [22]:
#Types of variables
type(-1)
#sys.float_info

int

In [24]:
#convirtiendo un tipo de datos en otros
type(2)
float(2)

2.0

In [25]:
int(1.1)

1

In [29]:
#Boolean data type
type(True)

bool

In [30]:
bool(1)

True

In [36]:
#Data type of 6/2: float
print(6/2)
print(type(6/2))

print(6//2)
type(6//2)

3.0
<class 'float'>
3

int

In [42]:
#Exercise expresions
#Calculationg the ampunt of hours in a given amount of minutes

Total_hours = 160//60

print("The amount of hours in " + str(160) + " minutes is " + str(Total_hours) + ".")

The amount of hours in 160 minutes is 2.

In [44]:
#Complicate expressions

x = 3 + 2 * 2 # 3 + 4 = 7, primero se hace la multiplicación
x

7

##Ahora vamos a trabajar con cadenas de caracteres o <code> strings <code>

In [55]:
name = "Michael Jackson"
print(name)

#voy a sacar la longitud de la cadena de caracteres
print(len(name))

#Voy a sacar la M y la J
name[0]
name[8]

#Voy ahora a sacar las letras de dos en dos comenzando desde el principio, así: name[posicion_inicial: posicion_final : paso]
print(name[::2])


#Voy ahora a sacar las letras de dos en dos comenzando desde la segunda letra hasta la sexta y a cada dos posiciones, así: name[posicion_inicial: posicion_final : paso]
print(name[1:6:2])

new_name = name + " es el mejor"
print(new_name)

Michael Jackson
15
McalJcsn
ihe
Michael Jackson es el mejor

In [63]:
A = "Estudiar Python me hace feliz"
A
B = A.upper()
print(B)

B = A.replace('Estudiar', 'Repasar')
print(B)

A.find('Python')

ESTUDIAR PYTHON ME HACE FELIZ
Repasar Python me hace feliz

9

In [66]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

g
i = g.replace("lamb", "horse")
i

'Mary had a little horse Little horse, little horse Mary had a little horse Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The horse was sure to go'

In [71]:
name = "lizz"
name
print(name[0:2])

var = "01234567"
print(var[::2])

li
0246